<nav>
    <div class="nav">
	{% for item in site.data.navigation %}
		<a href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}&nbsp;&nbsp;&nbsp;&nbsp;</a>
	{% endfor %}
    </div>
</nav>
<br/><br/>
<img src="/assets/images/Pear.jpg"  style="width:100%">
<img src="/assets/images/Peach.jpg"  style="width:100%">
<!--
<div class="slideshow-container">
	<div class="mySlides fade">
	<img src="/assets/images/Pear.jpg"  style="width:100%">
	</div>
	<div class="mySlides fade">
	<img src="/assets/images/Peach.jpg"  style="width:100%">
	</div>
	<div class="mySlides fade">
	<img src="/assets/images/Cherry.jpg"  style="width:100%">
	</div>
	<div class="mySlides fade">
	<img src="/assets/images/Nectrine.jpg"  style="width:100%">
	</div>
	<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
	<a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>
<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span> 
  <span class="dot" onclick="currentSlide(4)"></span> 
</div>
<br/>
<div>	
-->

