.current {
  color: green;
}

.nav {
    background: #ffcccc;
    border-bottom: 2px solid #b4b4b4;
    position: absolute;
    font-size: 64px;
    font-face: Arial;
    padding: 10px;  
    float: center;
}
