.current {
  color: green;
}

.nav {
    background: #f5e6fa;
    border-bottom: 2px solid #b4b4b4;
    position: absolute;
    font-size: 20px;
    font-face: Arial;
    padding: 4px;  
    float: center;
}

.nav > a:link, a:visited {   
  color: teal;
  text-decoration-line: none;
  cursor: auto;
}

.nav > a:link:active, a:visited:active {
  color: brown;
  text-decoration-line: none;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}