<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ page.title }}</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/assets/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="/assets/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
 <!--   
    <link rel="stylesheet" href="/assets/css/styles.css">
	<script src="/assets/js/ImgSlider.js"></script> -->
  </head>
  <body>
    {% include navigation.html %}
	
    {{ content }}
	
	
	    <footer class="page-footer white z-depth-3">
        <div class="container">
            <div class="row">
                <div class="col l3 s12">
                    <h5 class="black-text">Connect</h5>
                    <ul style="text-decoration: underline;">
                        <li><a class="black-text" href="https://fianatec.github.io/">Facebook</a></li>
                        <li><a class="black-text" href="https://fianatec.github.io/">Twitter</a></li>
                        <li><a class="black-text" href="https://fianatec.github.io/">Instagram</a></li>
                    </ul>
                </div>
                <div class="col l3 s12">
                    <h5 class="black-text">Contact</h5>
                    <ul class="black-text">
                        <li>Emme Cliffs</li>
                        <li>Boston Calurus</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col l12 s12">
                    <p class="black-text"><em>Website developed by Emme Cliffs</em></p>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container black-text">
                &copy; 2020 Fianatec
            </div>
        </div>
    </footer>


    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="assets/js/materialize.js"></script>
    <script src="js/init.js"></script>
  </body>
</html>
